<connectionStrings>
  <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ProjectWebsite-c323bf75-5d22-452b-a5c9-9c024172fc94;AttachDbFilename=|DataDirectory|\aspnet-ProjectWebsite-c323bf75-5d22-452b-a5c9-9c024172fc94.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  <!-- <add name="ChinookDB" connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true" providerName="System.Data.SqlClient" /> -->
  <add name="ChinookDB" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Chinook; Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>